* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html,body {
    height:100%;
}
.clear {
    clear: both;
}

#menu {
  position: fixed;
    box-sizing: border-box;
    padding: 10px;
    width:100%;
    background-color: white;
    box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.158);
}

#menu h2 {
    text-align: left;
    color:#323232;
    font-size: 16px;
    float: left;
    margin-right:-4px;
    
}

#menu ul {
    float: right;
    list-style: none;
    margin-right:-4px;
   
}
#menu ul li {
    display:inline-block;
 
    
   
   
}
#menu ul li:hover {
    display:inline-block;
    list-style: none;
    border-bottom: 2px solid rgba(255, 99, 71, 0.301);
   
   
}
#menu ul li a {
    letter-spacing: 2px;
    text-decoration: none;
    color: #323232;
    font-weight: 400;
}
.apresent {
    text-align: left;
    box-sizing:border-box;
    padding:20px;
    width: 100%;
    background-attachment: fixed;
    background-image:url(./adventure_.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position:right bottom;
position: relative;
top:40px;
height:90%;
    z-index:-1;
}

.content {
    border: 2px solid rgb(255, 255, 255);
    border-top-left-radius:30px;
    padding: 20px;
    text-align:center;
    box-sizing:border-box;

    position: absolute;
    top:10%;
    width:90%;
    background-color: rgba(228, 228, 250, 0.808);
}

.content h1 {
    color:rgb(36, 36, 36);
  padding: 5px;
}

/*########################*/
.perfil {
    z-index:-2;
    position: relative;
    top:10%;
    width:100%;
    text-align: center;
}

.info {
    margin:10px 0;
box-sizing: border-box;    

    display: inline-block;
    width:90%;
}
.info img {
    padding:4px;
    width:50%;
}
.info h2 {
    color:rgb(37, 37, 37);
    font-size:3vh;
}

.info p {
    font-size:14px;
}
.info h2, p {
    padding:10px;
}
.info hr {
    width:70%;
    margin: 0 auto;
    color: blue;
}

#planos {
    z-index:-2;
    width:100%;
padding:10px 0px;
    position: relative;
    top:10%;
    background-color: rgb(7, 38, 139);
}
#planos h2 {
    font-weight: normal;
    text-align: center;
    color: white;
    font-size:16px;
}

.ofertas {
    padding:30px 0;
    z-index:-2;
    width:100%;
    position: relative;
    top:10%;
    left:0;
    text-align: center;
    padding: 30px 0;
    margin-bottom:0%;
}

.itens-ofertas {
border:2px solid blue;
    display: inline-block;
    width:300px;
    height:300px;
    border-radius:9px;
    margin-right: -4px;
    margin:4px 0;
    

}
.itens-ofertas img {
    width:100px;
padding: 20px 0;
}
.itens-ofertas h2 {
    font-size:20px;
}
footer {
margin:10px 0;
    width:100%;
    text-align: center;
    color:white;
    background-color: rgb(7, 38, 139);
}