* {
   margin: 0;
   padding: 0;
   font-family:helvetica;
}
html, body {
  height: 100%;
}
.clear {
  clear: both;
}
.menu {
  box-sizing: border-box;
width:100%;
margin: 0 auto;
background-color: rgb(20, 20, 20);
padding: 4px;
max-width: 100%;
min-width:1280px;

}
.logo h1 {
  margin:0px 0px 0px 3%;
  float:left;
  color: white;
}

.list-menu {
  
}
.list-menu > ul {
list-style: none;
margin-right: 3%;
}
.list-menu li{
  font-size: 16px;
  display: inline-block;
  float:right;
  margin: 10px 5px;
  color: white;
 
  
  
}
.container {
  box-sizing: border-box;
  width: 1280px;
  background-color: wheat;
  margin:0 auto;
  padding: 20px;
}
.article {
  width:407px;
  float: left;
  margin-right: -4px;
  text-align: center;
  padding:5px;
  
  
  
}
.article > p {
  font-style: italic;
  font-size: 14px;
}
.header {
  box-sizing: border-box;
  width: 1280px;
  text-align: center;
  margin: 0 auto;
  background-color:rgb(20, 20, 20) ;
  color: white;
  padding: 10px;
}
.poster-anime {
  box-sizing: border-box;
  width:1280px;
  height:213px;
  min-width: 360px;
  background-color:rgb(218, 218, 218);
  padding: 4px;
  margin: 0 auto;
  overflow-x: scroll;
  overflow-y:visible;
  
}
.poster {
  
  float: left;
 
  
}
.poster > img {
  box-sizing: ;
  width: 110px;
  height:200px;
  padding: 0px 3px;
  cursor: pointer;
  
  
}
footer {
  box-sizing: border-box;
  text-align: center;
  padding:10px;
  margin:0 auto;
  width: 1280px;
  background-color:rgb(20, 20, 20);
  color:white;
}